body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(25, 25, 25);
}

main {
    /* background: #ccc; */
    display: flex;
    flex-grow: 1;
}

img {
    border-radius: 5px;
    margin: 10px;
}

section, aside {
    /* background: grey; */
    color: #fff;
    margin: 5px;
    text-align: left;
    padding: 6px;
    border-radius: 12px;
    flex-basis: 100px;
}

section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
  }

.side-email {
    writing-mode: vertical-lr;
    font-family: monospace;
}

.side-email a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.side-email a:hover {
    opacity: 0.5;
  }

.topnav {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
}

.topnav a:hover {
    background-color: #C7D7C9;
    color: black;
}

.icon-bar {
    width: 90px; /* Set a specific width */
  }

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    opacity: 0.5;
  }