.topnav {
    display: flex;
    background-color: #a3c1ad;
    overflow: hidden;
    justify-content: flex-end;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #C7D7C9;
    color: black;
}